{% extends "base.html" %}

{% block content %}
	<div class="container-fluid">
		<div class="row">

			<div class="col-12">
				<!-- Container Content -->
				<h3>Comparison</h3>
				<hr class="my-4">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<a href="/cloudiness">
							<img class="my-image-comparison" src="static/lat_cloud.png" data-toggle="tooltip" title="Latitude vs. Cloudiness">
						</a>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<a href="/humidity">
							<img class="my-image-comparison" src="static/lat_hum.png" data-toggle="tooltip" title="Latitude vs. Humidity">
						</a>
					</div>
			
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<a href="/temperature">
					  		<img class="my-image-comparison" src="static/lat_temp.png" data-toggle="tooltip" title="Latitude vs. Temperature">
					  	</a>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<a href="/wind">
				  			<img class="my-image-comparison" src="static/lat_wind.png"data-toggle="tooltip" title="Latitude vs. Wind Speed">
				  		</a>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}
		

