{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<!-- Container Header -->
			<div class="page-header">
				<h1 id="containers" class="container-title"></h1>
			</div>
		</div>
		<div class="col-lg-12">
			<!-- Container Content -->
			<h3 class="display-3">Data</h3>
			<hr class="my-4">
			<p class="lead">The following table includes all the data used for plotting during this project.</p>
			<div class="table-responsive-sm">
				  	<table class="table my-table">
					  	<thead>
					  	<tr>
					        {% for col in column_names %}
					        <th>{{col}}</th>
					        {% endfor %}
					    </tr>
						</thead>
						<tbody>
					    {% for row in data %}
					    <tr>
					        {% for value in row %}
					        <td>{{ value }}</td>
					        {% endfor %}
					    </tr>
					    {% endfor %}
						</tbody>
					</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
		

