<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark navbar-bk">
  <a class="navbar-brand" href="#">
    <img src="static/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Alza-ttitude
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/landing">
        	<i class="fa fa-home"></i>
        	Home
        	<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        	<i class="fa fa-image"></i>
          Plots
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">
          	<i class="fa fa-drop fa-thermometer-full"></i>
          	Max Temperature
	      </a>
          <a class="dropdown-item" href="#">
          	<i class="fa fa-drop fa-tint"></i>
          	Humidity
          </a>
          <a class="dropdown-item" href="#">
			      <i class="fa fa-drop fa-cloud"></i>
          	Cloudiness
          </a>
          <a class="dropdown-item" href="#">
          	<i class="fa fa-drop fa-flag"></i>
      		  Wind Speed
      	</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/comparison">
        	<i class="fa fa-cogs"></i>
        	Comparison
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/data">
        	<i class="fa fa-database"></i>
    		Data
    	</a>
      </li>
    </ul>
  </div>
</nav>