{% extends "base.html" %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-7 col-md-12">
				<!-- Container Content -->
				<h3>Summary: Latitude vs Temperature</h3>
				<hr class="my-4">
				<p><i class="fa fa-info info"></i> Click on any plot to have an in-depth analysis.</p>
				<p><img class="my-image-float" src="static/lat_temp.png"></p>

				<p class="text-float">Since Latitud is the angular distance from the Equator, from the Latitude vs. Temperature chart and based on the sample on over 500 cities, we can say the lower the Latitude, the higher the Temperature. In human words, <b>cities closer to the Equator tend to be hotter</b>.</p>
				
				<p>There are variations, though, as other factors such as elevation, ocean currents, and precipitation affect climate patterns. The temperature difference has obvious seasonal variations, and the trends for the southern group of stations (south of 33° latitude) and for the more northerly group are opposite.</p>
			</div>

			<div class="col-lg-5 col-md-12">
				<!-- Container Content -->
				<h3>Visualizations</h3>
				<hr class="my-4">
				<div class="row">
					<div class="col-md-6 col-sm-3">
						<a href="/temperature">
					  		<img class="my-image" src="static/lat_temp.png" data-toggle="tooltip" title="Latitude vs. Temperature">
					  	</a>
					</div>

					<div class="col-md-6 col-sm-3 opaque">
						<a href="/humidity">
							<img class="my-image" src="static/lat_hum.png" data-toggle="tooltip" title="Latitude vs. Humidity">
						</a>
					</div>

					<div class="col-md-6 col-sm-3 opaque">
						<a href="/cloudiness">
							<img class="my-image" src="static/lat_cloud.png" data-toggle="tooltip" title="Latitude vs. Cloudiness">
						</a>
					</div>
					
					<div class="col-md-6 col-sm-3 opaque">
						<a href="/wind">
				  			<img class="my-image" src="static/lat_wind.png"data-toggle="tooltip" title="Latitude vs. Wind Speed">
				  		</a>
					</div>

			</div>
		</div>
	</div>

{% endblock %}
		

